/* Import custom fonts from Google */ 

/* Import fonts from Google's API */
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono');


.distill-site-nav {
  background-color: #050708FF; 
  font-size: 20px;
  font-weight: 900;
  font-family: 'Lato Black';
}

.posts-sidebar, .dt-tags {
    font-family: 'Lato';
}

body {
  /*background-color: #FF1493; */
}

/* Change hover color in nav bar */

.distill-site-nav a:hover {
  /* color: #383838;*/
}

/* Change header font or color */

/* Change appearance of headers */
h1, h2, h3, h4, h5 {
  font-family: 'Lato Black', sans-serif;
  color: color: #383838;
}

d-article h2 { 
  font-size : 24px;
}

/* Use those fonts throughout */

/* Use specific font in the body of the text */
html, body, p {
  
  font-family: 'Source Serif Pro', sans-serif;
  font-weight: 550;
  line-height: 1.25; 
  font-size: 1.1rem;
  color:  #000000;
  font-style: normal;
  text-align: justify;
  
}
/* Links in article*/
d-article p a {
color : #E84A5FFF ;
font-weight: 600;
border-style: none;
}

d-article p a:hover{ 
  border-bottom-color: #E84A5FFF !important;
  border-bottom-width: 2px !important;
}


/* Change in-line code */ 

/* Code chunks */

d-article pre { /* Chunk output */
  border-radius: 5px; /* Rounded edges */
  font-size: 12px;
  padding: 5px 5px 5px 18px;
}

d-article div.sourceCode pre { /* Chunk code */
  border-radius: 5px; /* Rounded edges */
  background-color: #272822;
  color: #f8f8f2;
  padding: 5px 5px 5px 18px;
  display: block !important;
  border: 0 !important;
  overflow: auto !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

/* Change the appearance of in-line code chunks */
d-article div.sourceCode code {
  background-color:  transparent;
  font-size: 1em;
  overflow-wrap: break-word !important;
}

code {
  background-color: #E84A5F66;
  font-family: 'IBM Plex Mono', 'Fira Mono', sans-serif !important;
  font-weight: 600;
}

pre code {
  background-color: #FFFFFF;
}

code span.fu {
    color: #a6e22e;
}

code span.va {
    color: #ffffff;
}

code span.op {
    color: #f92672;
}

code span.st {
  color : #e6db74;
}

code span.fl {
    color: #ae81ff;
}

d-article li {
    margin-bottom: 0px !important;
}

/* Tables knitted with kable */
/*d-article table {
    width: 100%;
    overflow: auto;
    display: block;
}
*/